
$iconWidth: 56px;

.restaurant-toolbar{
    position: absolute;
    z-index: 2;
    width: 100%;
}

.toolbar-button {
    display: none;

    padding: 0;
    margin: 8px;
    min-width: $iconWidth;

    @media (max-width: 720px) {
        display: flex;
        height: $iconWidth;
        width: $iconWidth;
        align-items: center;
        justify-content: center;
    }
}

span {
    padding-left: 100px;
}