<mat-card class="item-card">
  <div class="item-header">
    <div>
      <div class="header-title">{{ item.title }}</div>
      <div class="header-subtitle">
        {{ item.description }}
      </div>
      <div class="header-subtitle">
        {{ item.title }}
      </div>
      <div class="header-subtitle">
        {{ item.date | date }}
      </div>
    </div>
    <!-- <mat-card-content>
    <div>
      temperature: {{ weatherItem.min_temp | number: "2.0-0" }}° -
      {{ weatherItem.max_temp | number: "2.0-0" }}°
    </div>
    <div>humidity: {{ weatherItem.humidity }}%</div>
  </mat-card-content>
  <div class="action-item">
    <button (click)="toggleEditable()">edit</button>-->
  </div>
</mat-card>
